* {
    margin: 0;
    padding: 0;
}
html {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
    background-color: #ff7300;
    color: rgb(0, 0, 0);
}
.main {
    margin: 1%;
    padding-bottom: 90px;
}
footer {
    display: flex;
    justify-content: center;
    background-color: #ff7300;
    position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 3.2%;
}
h2 {
    color: black;
}